.UserCard {
  margin: 0 auto;

  height: 400px;
  width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.RegisterCard {
  margin: 0 auto;

  height: 400px;
  width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.LoginCard {
  margin: 0 auto;

  height: 250px;
  width: 400px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
}

.mdl-card__supporting-text {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

h3{
	text-align:center;
	
}
